body {
    margin: 0px;
}

#game-score {
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#game-high-score {
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    
}

.menu-item {
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.bttn {
    width: auto;
    font-size: 30px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    border-radius: 10px;
    outline: none;
}

.bttn:hover {
    background-color: #222;
    color: #fff;
}


#game-over-screen {
    position: absolute;
    left: 50%;
    margin-top: 200px;
    margin-left: -1000px;
    width: 2000px;
    height: 800px;
    text-align: center;
    color: white;
    font-size: 120px;
    z-index: 1;
    
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}
  
.visible {

    opacity: 0.75;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;

    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.75;
	}
}

.dropdown {
    position: relative; 
    display: inline-block;
}


.dropdown-menu {
    display: none; 
    position: absolute; /* relative to the dropdown */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu-bttn {
    display: block;
    width: 100%;
    font-size: 22px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: #ffffff99;
}

.dropdown-menu-bttn:hover {
    background: #111;
    color: #eee;
}
